<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Malcolm Vigren">
  <title>RCBash Race Manager</title>

  <link href="/static/assets/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/dashboard.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
</head>
<body>
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="/">RCBash Manager</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="dropdown day-dropdown">
        <a class="btn btn-secondary dropdown-toggle form-control w-100" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{ selected_date }}
        </a>

        <ul class="dropdown-menu">
          {% for i, date in db_dates %}
          <li><a class="dropdown-item" href="/{{ active_tab }}/{{ year }}/{{ date }}"><b>{{ locations[i] }}</b> {{ date if i > 0 else date + " - senaste"}}</a></li>
          {% if i == 0 %}
          <li><hr class="dropdown-divider"></li>
          {% endif %}

          {% endfor %}
        </ul>
      </div>
      <div class="position-sticky pt-3 sidebar-sticky">
        <ul class="nav flex-column">
          {% for key, (name, icon) in tabs %}
          <li class="nav-item">
            <a class="{{ 'nav-link active' if key == active_tab else 'nav-link' }}"
               aria-current="page" href="/{{ key }}/{{ year }}/{{ selected_date }}">
              <span data-feather="{{ icon }}" class="align-text-bottom"></span>
              {{ name }}
            </a>
          </li>
          {% endfor %}
        </ul>
        <hr>
        <ul class="nav flex-column">
          {% for key, (name, icon) in season_tabs %}
          <li class="nav-item">
            <a class="{{ 'nav-link active' if key == active_tab else 'nav-link' }}"
               aria-current="page" href="/{{ key }}/{{ year }}/{{ selected_date }}">
              <span data-feather="{{ icon }}" class="align-text-bottom"></span>
              {{ name }}
            </a>
          </li>
          {% endfor %}
        </ul>

        {% if is_admin %}
          <hr>
          <ul class="nav flex-column">
            {% for key, (name, icon) in admin_tabs %}
            <li class="nav-item">
<!--              <a class="nav-link pointer"-->
<!--                 aria-current="page" data-bs-toggle="modal" data-bs-target="#{{ modal_id }}">-->
<!--                <span data-feather="{{ icon }}" class="align-text-bottom"></span>-->
<!--                {{ name }}-->
<!--              </a>-->
              <a class="{{ 'nav-link active' if key == active_tab else 'nav-link' }}"
                 aria-current="page" href="/{{ key }}/{{ year }}/{{ selected_date }}">
                <span data-feather="{{ icon }}" class="align-text-bottom"></span>
                {{ name }}
              </a>
            </li>
            {% endfor %}
          </ul>
        {% endif %}
        <hr>
        <ul class="nav flex-column">
          {% if is_authenticated %}
            {% for i, (key, name, icon) in authenticated_tabs %}
            <li class="nav-item">
              <a class="nav-link"
                 aria-current="page" href="/{{ key }}">
                <span data-feather="{{ icon }}" class="align-text-bottom"></span>
                {{ name }}
              </a>
            </li>
            {% endfor %}
          {% else %}
          <a class="nav-link"
             aria-current="page" href="/login">
            <span data-feather="log-in" class="align-text-bottom"></span>
            Logga in
          </a>

          {% endif %}
          <a class="nav-link pointer" aria-current="page" data-bs-toggle="modal" data-bs-target="#seasonModal">
            <span data-feather="corner-up-right" class="align-text-bottom"></span>
            Byt säsong...
          </a>
        </ul>
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h1">{% block tab_title %}{% endblock %}</h1>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="seasonModal" tabindex="-1" aria-labelledby="seasonModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content season-modal">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="seasonModalLabel">Välj säsong</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="dropdown season-dropdown">
                <button class="btn btn-secondary dropdown-toggle season-dropdown-text" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ year }}
                </button>
                <ul class="dropdown-menu">
                  {% for season_year in all_seasons %}
                    <li><a class="dropdown-item" href="{{ url_for('main_bp.start_lists_default_with_year', year=season_year) }}">{{ season_year }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Stäng</button>
            </div>
          </div>
        </div>
      </div>

<!--      {% if is_admin %}-->

<!--        <div class="modal fade disable-scroll" id="newRacedayModal" tabindex="-1" aria-labelledby="newRacedayLabel" aria-hidden="true">-->
<!--          <div class="modal-dialog new-race-day-modal">-->
<!--            <div class="modal-content">-->
<!--              <div class="modal-header">-->
<!--                <h1 class="modal-title fs-5" id="newRacedayLabel">Ny racedag</h1>-->
<!--                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--              </div>-->
<!--              <div class="modal-body">-->
<!--                <ul class="nav nav-tabs" id="myTab">-->
<!--                  <li class="nav-item">-->
<!--                    <a href="#startlists" class="nav-link active" data-bs-toggle="tab">Startlistor</a>-->
<!--                  </li>-->
<!--                  <li class="nav-item">-->
<!--                    <a href="#placeAndTime" class="nav-link" data-bs-toggle="tab">Tid och plats</a>-->
<!--                  </li>-->
<!--                </ul>-->
<!--                <div class="tab-content">-->
<!--                  <div class="tab-pane fade show active" id="startlists">-->
<!--                    <race-round-editor datalist="drivers"></race-round-editor>-->
<!--                  </div>-->
<!--                  <div class="tab-pane fade" id="placeAndTime">-->
<!--                    <form>-->
<!--                      <div class="mb-3">-->
<!--                        <label for="exampleInputEmail1" class="form-label">Email address</label>-->
<!--                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">-->
<!--                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>-->
<!--                      </div>-->
<!--                      <div class="mb-3">-->
<!--                        <label for="exampleInputPassword1" class="form-label">Password</label>-->
<!--                        <input type="password" class="form-control" id="exampleInputPassword1">-->
<!--                      </div>-->
<!--                      <div class="mb-3 form-check">-->
<!--                        <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--                        <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
<!--                      </div>-->
<!--                      <button type="submit" class="btn btn-primary">Submit</button>-->
<!--                    </form>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <datalist id="drivers">-->
<!--                  {% for number, name in all_drivers %}-->
<!--                  <option value="{{ number }}" label="{{ number }} - {{ name }}" name="{{ name }}">-->
<!--                    {% endfor %}-->
<!--                </datalist>-->
<!--              </div>-->
<!--              <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Stäng</button>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      {% endif %}-->

      {% block content %}{% endblock %}
    </main>
  </div>
</div>

<script src="/static/assets/dist/js/bootstrap.bundle.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
<script src="/static/js-components/component.js"></script>
<script src="/static/js-components/startlist.js"></script>
<script src="/static/js-components/raceroundeditor.js"></script>
<script src="/static/dashboard.js"></script>
</body>
</html>
