{% extends "dashboard.html" %}
{% block tab_title %}Nytt resultat{% endblock %}
{% block content %}
<link href="/static/newresult.css" rel="stylesheet">
<form class="row g-3" id="fileUploadForm" method="POST" action="/api/uploadresult">
  <div class="col-auto">
    <input class="btn btn-primary" type="button" id="loadFileXml" value="Ladda upp resultat" onclick="document.getElementById('fileUpload').click();" />
    <input type="file" style="display:none;" id="fileUpload" name="file"/>
  </div>
  <div class="col-auto">
    <button class="btn btn-secondary">Ange resultat manuellt</button>
  </div>
</form>
<datalist></datalist>
<datalist id="drivers">
  {% for number, name in all_drivers %}
    <option value="{{ number }}" label="{{ number }} - {{ name }}" name="{{ name }}">
  {% endfor %}
</datalist>
<div id="resultEditContainer" class="result-card-container">
</div>

<div id="resultTableContainer">
</div>

<script src="/static/newresult.js"></script>
{% endblock %}
