{% extends "dashboard.html" %}
{% block tab_title %}Startordningar{% endblock %}
{% block content %}
<link href="/static/startlists.css" rel="stylesheet">
<div class="container">
  {% for heat_name, start_list in start_lists %}
    <div class="start-list-container rounded">
      <div class="justify-content-between flex-wrap flex-md-nowrap border-bottom align-items-center pt-3 pb-2 mb-3">
        <h2 class="h2 heat-heading"><strong>{{ heat_name }}</strong></h2>
      </div>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
      {% for rcclass, group, group_list, is_next_race in start_list %}
      <div>
        <div class="card startlistcard">
          <h5 class="card-header {{ 'next-race-card-header' if is_next_race else ''}}">
            <strong>{{ rcclass }}</strong> Grupp {{ group }}
            {% if is_next_race %}
              <strong>- Nästa race</strong>
            {% endif %}
          </h5>
          <div class="card-body">
            <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">#</th>
                  <th scope="col">Namn</th>
                </tr>
              </thead>
              <tbody>
                {% for driver in group_list %}
                  <tr>
                    <td><b>{{ loop.index }}</b></td>
                    <td>{{ driver.number }}</td>
                    <td>{{ driver.name }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            <p>
              <strong>
                {{ marshals[heat_name][rcclass][group][0] }}
                {{ marshals[heat_name][rcclass][group][1] }} vänder bilar:
              </strong>
            </p>
            <p>
              {% for driver in marshals[heat_name][rcclass][group][2] %}
                <span class="nowrap"><strong>{{ loop.index }}.</strong> {{ driver.name }}</span>
              {% endfor %}
            </p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
