{% extends "dashboard.html" %}
{% block tab_title %}Total poängställning{% endblock %}
{% block content %}
<link href="/static/results.css" rel="stylesheet">
<!--<canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>-->
<div class="container">
  <div class="results-container rounded">
    <div class="justify-content-between flex-wrap flex-md-nowrap border-bottom align-items-center pt-3 pb-2 mb-3">
      <h2 class="h2 heat-heading"><strong>HEJSAN</strong></h2>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
    </div>
  </div>
</div>
{% endblock %}
